.u-section-1 .u-sheet-1 {
  min-height: 105px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 40px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 315px;
}

.u-section-2 .u-list-1 {
  margin: 37px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 199px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 137px;
  width: 205px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 137px;
  width: 205px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 137px;
  width: 205px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-icon-4 {
  height: 137px;
  width: 205px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-icon-5 {
  height: 137px;
  width: 205px;
  margin: 21px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
    margin-bottom: -127px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 177px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 3px;
  }

  .u-section-2 .u-icon-1 {
    height: 127px;
    width: 190px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 17px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 3px;
  }

  .u-section-2 .u-icon-2 {
    height: 127px;
    width: 190px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 17px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 3px;
  }

  .u-section-2 .u-icon-3 {
    height: 127px;
    width: 190px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 17px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 3px;
  }

  .u-section-2 .u-icon-4 {
    height: 127px;
    width: 190px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 17px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 3px;
  }

  .u-section-2 .u-icon-5 {
    height: 127px;
    width: 190px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 23px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 144px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-1 {
    height: 157px;
    width: 157px;
    margin-top: -6px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 36px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 157px;
    width: 157px;
    margin-top: -6px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 36px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 157px;
    width: 157px;
    margin-top: -6px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 36px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 157px;
    width: 157px;
    margin-top: -6px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 36px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-5 {
    height: 157px;
    width: 157px;
    margin-top: -6px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -19px;
    margin-left: -28px;
    margin-right: -28px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -19px;
    margin-left: -28px;
    margin-right: -28px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -19px;
    margin-left: -28px;
    margin-right: -28px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -19px;
    margin-left: -28px;
    margin-right: -28px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -19px;
    margin-left: -28px;
    margin-right: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 228px;
  }

  .u-section-2 .u-icon-1 {
    height: 108px;
    width: 108px;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 20px;
  }

  .u-section-2 .u-icon-2 {
    height: 108px;
    width: 108px;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 20px;
  }

  .u-section-2 .u-icon-3 {
    height: 108px;
    width: 108px;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 20px;
  }

  .u-section-2 .u-icon-4 {
    height: 108px;
    width: 108px;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 20px;
  }

  .u-section-2 .u-icon-5 {
    height: 108px;
    width: 108px;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 20px;
  }
}